@model VirtualGYM.Models.Empresa

@{
    ViewData["Title"] = "Details";
    ViewBag.Title = "Index";
}

<h2>Details</h2>
<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>
        <dd>
            @Model.Nombre
        </dd>
        <dt>
            Direccion
        </dt>
        <dd>
            @Model.Direccion
        </dd>
        <dt>
            Telefono
        </dt>
        <dd>
            @Model.Telefono
        </dd>
        <dt>
            Mail
        </dt>
        <dd>
            @Model.Mail
        </dd>
    </dl>
</div>
<h4>@ViewBag.Message</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Edad
            </th>
            <th>
                Sexo
            </th>
            <th>
                Peso
            </th>
            <th>
                Altura
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Socio)
        {
            <tr>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Apellido
                </td>
                <td>
                    @item.Edad
                </td>
                <td>
                    @item.Sexo
                </td>
                <td>
                    @item.Peso
                </td>
                <td>
                    @item.Altura
                </td>
            </tr>
        }
    </tbody>
</table>
<h4>Ofertas</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Precio
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Oferta)
        {
            <tr>
                <td>
                    @item.Costo
                </td>
            </tr>
        }
    </tbody>
</table>
<h4>Ofertas 2</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Precio
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Oferta2)
        {
            <tr>
                <td>
                    @item.Costo
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>




